

body {
  background-color: #E7F6F2;
}

hr{
  border-style: dotted none none none;
  width: 7%;
  border-color: lightgrey;
  border-width: 7px;
}

h1 {
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
}

h3{
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
}

.ci {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
  padding: 10px 20px 10px 20px;
  background-color: #11cdd4;
  border-radius: 8px;
}
